:root {

    /* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

    /* Commonly used for non-text elements, though not limited */

    --primary-color: #FF8E3C;
    --secondary-color: #D9376E;

    /* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

    /* Commonly used for text elements and backgrounds, though not limited */

    --dark-color: #272343;
    --light-color: #EFF0F3;

    /* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

    /* BRIGHTNESS SETTINGS */

    --hover: 110%;
    --active: 105%;

   /* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

body {
    background-color: var(--light-color);
    font-family: 'Barlow', sans-serif;
    color: var(--dark-color);
}

button {
    width: 88px;
    height: 32px;

    border: solid 1px;
    margin-right: 40px;
}

.smallerMargin {
    margin-right: 5px;
}

button:hover {
    filter: brightness(var(--hover));
}

button:active {
    filter: brightness(var(--active));
}

input {
    width: 88px;
    height: 32px;

    border: solid 1px;
    margin-right: 6px;
}

hr {
    border: dashed 1px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.checkbox {
    width: 16px;
    height: 16px;
}

#icon-input {
    width: 1116px;
    padding-left: 10px;
    font-family: 'Barlow', sans-serif;
    color: var(--dark-color);
}

#icon-input:focus {
    border-color: var(--primary-color);
    border-block-color: var(--primary-color);
    outline: none;
}

#icon-input::selection {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

#icon-input::-moz-selection {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.preview {
    float: left;
    margin-right: 10px;

    width: 34px;
    height: 34px;

    border: solid 1px;
    border-color: var(--dark-color);
}

#light-preview {
    background-color: var(--light-color);
}

#primary-preview {
    background-color: var(--primary-color);
}

#secondary-preview {
    background-color: var(--secondary-color);
}

#dark-preview {
    background-color: var(--dark-color);
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.material-symbols-outlined {

    margin-top: 5px;
    margin-right: 24px;

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

 a:link {
    color: var(--primary-color);
  }
  
  a:visited {
    color: var(--secondary-color);
  }
  
  a:hover {
    filter: brightness(var(--hover));
  }
  
  a:active {
    filter: brightness(var(--active));
  } 

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

#text-to-preview {
    min-width: 1116px;
    width: 1116px;
    max-width: 1116px;

    min-height: 200px;
    max-height: 200px;

    resize: none;
    padding: 10px;

    font-family: 'Barlow', sans-serif;
    color: var(--dark-color);

    border-radius: 0;
    border: solid black 1px;
}

#text-to-preview:focus {
    border-color: var(--primary-color);
    border-block-color: var(--primary-color);
    outline: none;
}

#text-to-preview::selection {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

#text-to-preview::-moz-selection {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.light-preview {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;

    width: 1088px;

    background-color: var(--light-color);
}

.primary-preview {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;

    width: 1088px;

    background-color: var(--primary-color);
}

.secondary-preview {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;

    width: 1088px;

    background-color: var(--secondary-color);
}

.dark-preview {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;

    width: 1088px;

    background-color: var(--dark-color);
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.light-icon {
    color: var(--light-color);
}

.primary-icon {
    color: var(--primary-color);
}

.secondary-icon {
    color: var(--secondary-color);
}

.dark-icon {
    color: var(--dark-color);
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.primary-button-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--light-color);
}

.secondary-button-primary {
    background-color: var(--light-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.tertiary-button-primary {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--primary-color);
    text-decoration: underline;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.primary-button-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--light-color);
}

.secondary-button-secondary {
    background-color: var(--light-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.tertiary-button-secondary {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--secondary-color);
    text-decoration: underline;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.primary-button-dark {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    color: var(--light-color);
}

.secondary-button-dark {
    background-color: var(--light-color);
    border-color: var(--dark-color);
    color: var(--dark-color);
}

.tertiary-button-dark {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--dark-color);
    text-decoration: underline;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

.light-text {
    color: var(--light-color);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.dark-text {
    color: var(--dark-color);
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */